<a href="https://colab.research.google.com/github/tasmimjoti/AI-Quest-ML-assignments/blob/main/DS_%26_ML_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List

###Accessing a specific element using index

In [ ]:
my_list = ['belgium', [64, 75.02, 57], ['chocolate']]
print(my_list)
my_list[0]

['belgium', [64, 75.02, 57], ['chocolate']]

'belgium'

###len() method: Get the length of a list

In [ ]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
print(len(rainbow))

7

###getsizeof() method: Get the size of a list

In [ ]:
import sys
sys.getsizeof(rainbow)

128

###List slicing

In [ ]:
rainbow[-5:5]

['yellow', 'green', 'blue']

###append() method: Insert an item to the last position of a list

In [ ]:
closet = ['shirt', 'pant', 'scarf', 'skirt']
closet.append('top')
closet

['shirt', 'pant', 'scarf', 'skirt', 'top']

###insert() method: Insert an item to a specific position of a list

In [ ]:
closet.insert(2, 'tie')
closet

['shirt', 'pant', 'tie', 'scarf', 'skirt', 'top']

###pop() method: Revove an item from the last position of a list

In [ ]:
closet.pop()
closet

['shirt', 'pant', 'tie', 'scarf', 'skirt']

###remove() method: Remove a specific item from a list

In [ ]:
closet.remove('tie')
print(closet)

['shirt', 'pant', 'scarf', 'skirt']

###Deleting an item from a list using index

In [ ]:
del closet[3]
closet

['shirt', 'pant', 'scarf']

###Deleting a list using clear() method

In [ ]:
closet.clear()
closet

[]

###Copying a list using copy() method

In [ ]:
my_list1 = rainbow.copy()
my_list1

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

###Merging two lists

In [ ]:
girls_mark = [95, 80, 79, 88, 90]
boys_mark = [65, 84, 59, 78, 83, 92]
marks = girls_mark + boys_mark
marks

[95, 80, 79, 88, 90, 65, 84, 59, 78, 83, 92]

###Merging or adding two lists using extend() method

In [ ]:
fiction = ['mysteries', 'romance', 'fantasy']
non_fiction = ['biography', 'history', 'travel']
fiction.extend(non_fiction)
fiction

['mysteries', 'romance', 'fantasy', 'biography', 'history', 'travel']

###count() method: Returns the value of total occurence of a specific item in a list

In [ ]:
rainbow.count('red')

1

###index() method: Returns the value of index of a specific item in a list

In [ ]:
rainbow.index('violet')

6

###reverse() method: Reverses the order of the elements of a list

In [ ]:
rainbow.reverse()
rainbow

['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']

###sort() method: Sorts a list but the elements of the list have to be commensurate

In [ ]:
rainbow.sort()
rainbow

['blue', 'green', 'indigo', 'orange', 'red', 'violet', 'yellow']

# Tuple

In [ ]:
my_tuple = ('belgium', [64, 75.02, 57], (10, 20, 30))
my_tuple

('belgium', [64, 75.02, 57], (10, 20, 30))

###getsizeof() method: Get the size of a tuple

In [ ]:
sys.getsizeof(my_tuple)

80

###Tuple unpacking

In [ ]:
my_tuple1 = 300, 406.57, 'chocolate'
print(my_tuple1)

x, y, z = my_tuple1 # tuple unpacking
print(x)
print(y)
print(z)

(300, 406.57, 'chocolate')
300
406.57
chocolate

##Nested indexing in tuple

In [ ]:
my_tuple[2][1]

20

##Addition of two tuples

In [ ]:
tup=my_tuple + my_tuple1
tup

('belgium', [64, 75.02, 57], (10, 20, 30), 300, 406.57, 'chocolate')

##Slicing of tuple

In [ ]:
tup[1:4]

([64, 75.02, 57], (10, 20, 30), 300)

# Dictionary

In [ ]:
my_dict = {101: 'Harry', 202: 'Ron', 303: 'Fred'}
my_dict

{101: 'Harry', 202: 'Ron', 303: 'Fred'}

In [ ]:
my_dict1 = {'fruit': 'apple', 100: [101, 102, 103, 104]}
my_dict1

{'fruit': 'apple', 100: [101, 102, 103, 104]}

In [ ]:
my_dict2 = {'one': 'une', 'two': 'deux', 'three': 'trois'}
my_dict2

{'one': 'une', 'two': 'deux', 'three': 'trois'}

###Nested dictionary

In [ ]:
house = {'gryffindor': {'name': 'ginny', 'age': '11', 'sex': 'female'},
         'slytherin': {'name': 'draco', 'age': '10', 'sex': 'male'},
         'ravenclaw':{'name': 'luna', 'age': '12', 'sex': 'female'}}
house

{'gryffindor': {'name': 'ginny', 'age': '11', 'sex': 'female'},
 'slytherin': {'name': 'draco', 'age': '10', 'sex': 'male'},
 'ravenclaw': {'name': 'luna', 'age': '12', 'sex': 'female'}}

###get() method: Access elements from dictionary

In [ ]:
my_dict1[100]

[101, 102, 103, 104]

In [ ]:
house['gryffindor']['name']

'ginny'

###Adding elements to a dictionary

In [ ]:
house['hupplepuff']={'name': 'finch', 'age': '13', 'sex': 'male'}
house

{'gryffindor': {'name': 'ginny', 'age': '11', 'sex': 'female'},
 'slytherin': {'name': 'draco', 'age': '10', 'sex': 'male'},
 'ravenclaw': {'name': 'luna', 'age': '12', 'sex': 'female'},
 'hupplepuff': {'name': 'finch', 'age': '13', 'sex': 'male'}}

###update() method

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
car.update({"color": "Gray"})
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Gray'}

###Updating items of a dictionary

In [ ]:
my_dict[303] = "Hermione"
my_dict

{101: 'Harry', 202: 'Ron', 303: 'Hermione'}

###pop() method & del keyword: Removes items from a dictionary

In [ ]:
my_dict2.pop('three')
my_dict2

{'one': 'une', 'two': 'deux'}

In [ ]:
del house['slytherin']['name']
house

{'gryffindor': {'name': 'ginny', 'age': '11', 'sex': 'female'},
 'slytherin': {'age': '10', 'sex': 'male'},
 'ravenclaw': {'name': 'luna', 'age': '12', 'sex': 'female'},
 'hupplepuff': {'name': 'finch', 'age': '13', 'sex': 'male'}}

###keys() method

In [ ]:
my_dict.keys()

dict_keys([101, 202, 303])

###values() method

In [ ]:
my_dict.values()

dict_values(['Harry', 'Ron', 'Hermione'])

###Membership test

In [ ]:
'fruit' in my_dict1

True

In [ ]:
'chocolate' in my_dict1

False

In [ ]:
"Harry" in my_dict.values()

True

In [ ]:
"Fred" not in my_dict.values()

True

In [ ]:
"Hermione" not in my_dict.values()

False

In [ ]:
('two', 'deux') in my_dict2.items()

True

###Looping through a dictionary

In [ ]:
# printing all the keys
chocolates = {'cadbury': 8, 'hersheys': 9, 'bueno': 12}
for i in chocolates:
 print(i, end = " ")

cadbury hersheys bueno

In [ ]:
# printing all the values
for c in chocolates:
  print(chocolates[c], end = " ")

8 9 12

In [ ]:
# printing all the keys & values
for a, b in chocolates.items():
 print(a, ":", b, end = " ")

cadbury : 8 hersheys : 9 bueno : 12

# Set

In [ ]:
my_set = {"apple", "mango", "guava", "banana", "apple", "lichi", "cherry"}
my_set

{'apple', 'banana', 'cherry', 'guava', 'lichi', 'mango'}

###Accessing items of a set

In [ ]:
for i in my_set:
  print(i)

banana
apple
cherry
lichi
guava
mango

In [ ]:
'apple' in my_set

True

In [ ]:
'watermelon' in my_set

False

###Adding items to a set

In [ ]:
my_set.add('orange')
my_set

{'apple', 'banana', 'cherry', 'guava', 'lichi', 'mango', 'orange'}

In [ ]:
my_set2 = {"pineapple", "watermelon", "papaya"}
my_set.update(my_set2)
my_set

{'apple',
 'banana',
 'cherry',
 'guava',
 'lichi',
 'mango',
 'orange',
 'papaya',
 'pineapple',
 'watermelon'}

###Removing items from set

In [ ]:
my_set.remove("guava")
my_set

{'apple',
 'banana',
 'cherry',
 'lichi',
 'mango',
 'orange',
 'papaya',
 'pineapple',
 'watermelon'}

In [ ]:
my_set.discard("papaya")
my_set

{'apple',
 'banana',
 'cherry',
 'lichi',
 'mango',
 'orange',
 'pineapple',
 'watermelon'}

In [ ]:
x = my_set2.pop()
print(x)
my_set2

pineapple

{'papaya', 'watermelon'}

In [ ]:
my_set.clear()
my_set

set()

# DataFrame

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd

In [ ]:
list1=['ICT', 'BME', 'EEE', 'CSE', 'ACCE']
df=pd.DataFrame(list1)
df

      0
0   ICT
1   BME
2   EEE
3   CSE
4  ACCE

In [ ]:
df=pd.DataFrame(list1, columns=["Dept."])
df

  Dept.
0   ICT
1   BME
2   EEE
3   CSE
4  ACCE

In [ ]:
df.shape

(5, 1)

In [ ]:
row, col=df.shape
row

5

In [ ]:
col

1

In [ ]:
list2=[55, 50, 60, 57, 62]
df1=pd.DataFrame(list2, columns=["No. of student"])
df1

   No. of student
0              55
1              50
2              60
3              57
4              62

In [ ]:
df2=pd.DataFrame(list1, columns=["Dept."])
df2

  Dept.
0   ICT
1   BME
2   EEE
3   CSE
4  ACCE

In [ ]:
df=pd.concat([df2,df1], axis=1)
df

  Dept.  No. of student
0   ICT              55
1   BME              50
2   EEE              60
3   CSE              57
4  ACCE              62

In [ ]:
df.drop([1, 3])

  Dept.  No. of student
0   ICT              55
2   EEE              60
4  ACCE              62

In [ ]:
df.drop("No. of student", axis=1)

  Dept.
0   ICT
1   BME
2   EEE
3   CSE
4  ACCE