# Variable

In [34]:
x = 10 #Global variable

def display():
    y = 5 #Local variable
    z = x * 2 #x,y & z are variable
    print(z)
    print(y)

display()
print(x)

20
5
10

#if else condition

In [37]:
num = int(input("Enter an integer number: "))

if num%2 == 0:
  print("The number is even.")
else:
  print("The number is odd.")

Enter an integer number: 54
The number is even.

###elif statement:

In [49]:
num = float(input("Enter a number: "))

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Enter a number: -6
Negative number

###Nested if else condition:

In [46]:
num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number: -2.5
Negative number

## Loop

###for loop:

In [50]:
str = input("Enter a string: ")
for i in str:
  print(i)

Enter a string: Butterfly
B
u
t
t
e
r
f
l
y

###while loop:

In [43]:
i = 0
str = 'Python is easy'
while i < len(str):
  print(str[i])
  i += 1

P
y
t
h
o
n

i
s

e
a
s
y