In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("/content/drive/MyDrive/AI Quest/Final task/Heart Disease.csv")

In [4]:
df.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No

In [5]:
df.shape

(319795, 18)

In [6]:
df.isnull().sum()

HeartDisease        0
BMI                 0
Smoking             0
AlcoholDrinking     0
Stroke              0
PhysicalHealth      0
MentalHealth        0
DiffWalking         0
Sex                 0
AgeCategory         0
Race                0
Diabetic            0
PhysicalActivity    0
GenHealth           0
SleepTime           0
Asthma              0
KidneyDisease       0
SkinCancer          0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HeartDisease      319795 non-null  object
 1   BMI               319795 non-null  float64
 2   Smoking           319795 non-null  object
 3   AlcoholDrinking   319795 non-null  object
 4   Stroke            319795 non-null  object
 5   PhysicalHealth    319795 non-null  float64
 6   MentalHealth      319795 non-null  float64
 7   DiffWalking       319795 non-null  object
 8   Sex               319795 non-null  object
 9   AgeCategory       319795 non-null  object
 10  Race              319795 non-null  object
 11  Diabetic          319795 non-null  object
 12  PhysicalActivity  319795 non-null  object
 13  GenHealth         319795 non-null  object
 14  SleepTime         319795 non-null  float64
 15  Asthma            319795 non-null  object
 16  KidneyDisease     319795 non-null  object
 17  SkinCancer        319795 non-null  object
dtypes: float64(4), object(14)
memory usage: 43.9+ MB

##**Encoding**

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le = LabelEncoder()

In [10]:
from pandas.core.dtypes.common import is_numeric_dtype

In [11]:
for col in df.columns:
  if is_numeric_dtype(df[col]):
    continue
  else:
    df[col] = le.fit_transform(df[col])

In [12]:
df.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,16.60,1,0,0,3.0,30.0,0,0,7,5,2,1,4,5.0,1,0,1
1,0,20.34,0,0,1,0.0,0.0,0,0,12,5,0,1,4,7.0,0,0,0
2,0,26.58,1,0,0,20.0,30.0,0,1,9,5,2,1,1,8.0,1,0,0
3,0,24.21,0,0,0,0.0,0.0,0,0,11,5,0,0,2,6.0,0,0,1
4,0,23.71,0,0,0,28.0,0.0,1,0,4,5,0,1,4,8.0,0,0,0

##**Separating "x" and "y"**

In [13]:
x = df.drop(["HeartDisease"], axis = 1)
y = df[["HeartDisease"]]

##**Undersampling**

In [14]:
from imblearn.under_sampling import NearMiss

In [15]:
nm = NearMiss()
new_x, new_y = nm.fit_resample(x, y)

In [16]:
new_x.shape

(54746, 17)

In [17]:
new_y.shape

(54746, 1)

In [18]:
new_y.value_counts()

HeartDisease
0               27373
1               27373
dtype: int64

##**Splitting the train and test data**

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
xtrain, xtest, ytrain, ytest = train_test_split(new_x, new_y, test_size = 0.25, random_state = 1)

In [21]:
print(f"Train data shape : {xtrain.shape}\nTest data shape: {xtest.shape}")

Train data shape : (41059, 17)
Test data shape: (13687, 17)

##**Applying models**

###**Logistic Regression**

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
logit = LogisticRegression()

In [24]:
logit.fit(xtrain, ytrain)
logit.score(xtest, ytest)

0.8746255570979762

###**Random Forest Classifier**

In [25]:
from sklearn.ensemble import RandomForestClassifier

In [26]:
rf = RandomForestClassifier()

In [27]:
rf.fit(xtrain, ytrain)
rf.score(xtest, ytest)

0.8544604369109374

###**SVM Classifier**

In [28]:
from sklearn import svm

In [29]:
svmc = svm.SVC(probability = True)
svmc.fit(xtrain, ytrain)

SVC(probability=True)

In [30]:
svmc.score(xtest, ytest)

0.8672462921019946

###**Decision Tree classifier**

In [31]:
from sklearn.tree import DecisionTreeClassifier

In [32]:
dtc = DecisionTreeClassifier()

In [33]:
dtc.fit(xtrain, ytrain)
dtc.score(xtest, ytest)

0.8445970629064076

###**XGBoost classifier**

In [34]:
from xgboost import XGBClassifier

In [35]:
xgb = XGBClassifier()

In [36]:
xgb.fit(xtrain, ytrain)
xgb.score(xtest, ytest)

0.8961057938189523

###**AdaBoost Classifier**

In [37]:
from sklearn.ensemble import AdaBoostClassifier

In [38]:
abc = AdaBoostClassifier()

In [39]:
abc.fit(xtrain, ytrain)
abc.score(xtest, ytest)

0.8913567618908453

###**KNN classifier**

In [40]:
from sklearn.neighbors import KNeighborsClassifier

In [41]:
knn = KNeighborsClassifier()

In [42]:
knn.fit(xtrain, ytrain)
knn.score(xtest, ytest)

0.8497844670124937

##**Feature Selection**

In [43]:
from sklearn.feature_selection import SelectKBest, chi2

In [44]:
model = SelectKBest(chi2, k = 5)
model.fit(xtrain, ytrain)
cols = model.get_support(indices = True)
features_df_new = x.iloc[ : , cols]

In [45]:
features_df_new.columns

Index(['Stroke', 'PhysicalHealth', 'MentalHealth', 'DiffWalking', 'Diabetic'], dtype='object')